{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - E-commerce Web Site.{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3">
            <div class="block-small">
                <h2 class="h3 mb-3 font-weight-normal text-center mt-3" style="color: #00580a;">Réinitialiser mon mot de passe.</h2>
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
