<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Carousel Template · Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/boutiquefrançaise.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
    {% block javascript %}{% endblock %}
    <style>
        body {
            padding-top: 30px;
            background-image:url('/images/bg_body.jpg');
            color: #636b6f;
            font-family: 'Lato', sans-serif;
            font-weight: 300;
            height: 100vh;
            margin: 0;
            margin-top: 25px;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
    {% include 'inc/flash_messages.html.twig' %}
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">E-commerce Web Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('contact') }}">Contact<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('products') }}">Produits <span class="sr-only">(current)</span></a>
                </li>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('admin') }}" tabindex="-1" aria-disabled="true">Admin</a>
                    </li>
                    {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('cart') }}">
                	<img src="{{ asset('images/goods.png') }}" class="img-fluid" style="height: 30px;" class="mb-1"	alt="Mon panier" /></a>
                	<span class="sr-only">(current)</span></a>
            	</li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if not app.user %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_login') }}">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('register') }}">Inscription</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="#"> <small> Logged in as : {{ app.user.firstname|capitalize }}
                 {{ app.user.lastname|capitalize }}</small></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('account') }}">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('app_logout') }}">Logout</a>
            </li>
            {% endif %}
            </ul>

            <!--<form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>-->
        </div>
    </nav>
</header>

<main role="main">
    {% if block('carousel') is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			{% for key, header in headers %}
                <li data-target="#myCarousel" data-slide-to="{{ key }}" {% if key == 0 %}class="active"{% endif %}></li>
            {% endfor %}
		</ol>
		<div class="carousel-inner">
			{% for key, header in headers %}
            <div class="carousel-item {% if key == 0 %}active{% endif %}" style="background: url('/uploads/{{ header.illustration }}');background-size:cover;" class="img-fluid">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>{{ header.title }}</h1>
                        <p>{{ header.content }}</p>
                        <p><a class="btn btn-lg btn-dark btn-sm" href="{{ header.btnUrl }}" role="button">{{ header.btnTitle }}</a></p>
                    </div>
                </div>
            </div>
            		{% endfor %}
	</div>
				<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
    {% endif %}
    <div class="container marketing {% if block('carousel') is not defined %}mt-5{% endif %}">
        {% block body %}
        {% endblock %}
    </div><!-- /.container -->
    {% include 'inc/footer.html.twig' %}
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
{% block script %}{% endblock %}
</html>